
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitud de Licencia</h2>

<div class="row">
    @model RequestImage
    <form class="col s12" id="form" name="form" asp-controller="License" asp-action="UploadData" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Juan Perez" id="solname" name="solname" type="text" class="validate" required>
                <label for="solname">Nombre Solicitante</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="12345678-9" oninput="checkRut(this)" value="" maxlength="13" id="rut" name="rut" type="text" class="validate" required>
                <label for="rut">Rut Conductor</label>
            </div>
            <div class="input-field col s4">
                <select id='chore' name='chore' placeholder='Faena' required>
                    <option disabled selected placeholder>Faena</option>
                    <option value="lt">Las Tórtolas</option>
                    <option value="lb">Los Bronces</option>
                    <option value="bt">Ambas</option>
                </select>
            </div>
            <a class="waves-effect waves-light btn-large" id="searchrt" name="searchrt"><i class="material-icons right">search</i>Buscar Rut</a>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Nombres" id="name" name="name" type="text" class="validate" required>
                <label for="first_name">Nombres</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Apellidos" id="lastname" name="lastname" type="text" class="validate" required>
                <label for="last_name">Apellidos</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label>Fecha de Nacimiento</label>
                <input id="birthdate" name="birthdate" type="date" class="datepicker" placeholder="01/01/1990" data-date-format="DD-MMM-YYYY" required>

            </div>
            <div class="input-field col s6">
                <select id='company' name='company' placeholder='Empresa' required>
                    <option disabled selected placeholder>Empresa</option>
                </select>
            </div>
        </div>
        <div class="row">

            <div class="input-field col s6">
                <select id='access' name='access' placeholder='Accesos' required>
                    <option disabled selected placeholder>Accesos</option>
                    <option value="Interior Mina">Interior Mina</option>
                    <option value="Fuera de la Mina">Fuera de la Mina</option>
                    <option value="Ambos">Ambos</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select id='vehicles' name='vehicles' placeholder='Tipos de Vehículo' required multiple>
                    <option value="Camion">Camión (A4 - A5)</option>
                    <option value="Camioneta">Camioneta (B)</option>
                    <option value="Ambulancia">Ambulancia (A2)</option>
                    <option value="Bus/Minibus">Bus/Minubus (A3)</option>
                    <option value="Maquinaria Pesada">Maquinaria Pesada (D)</option>
                </select>
                <label>Tipos de Vehículo</label>
            </div>
            <div class="input-field col s6">
                <select id='restrictions' name='restrictions' placeholder='Restricciones' required>
                    <option value="NA" disabled selected>Restricciones</option>
                    <option value="No Aplica">No Aplica</option>
                    <option value="Debe Usar Lentes">Debe Usar Lentes</option>
                    <option value="Otro">Otro, Especificar:</option>
                </select>
                <label>Restricciones</label>
            </div>
        </div>

        <div class="row" id="restdesc" hidden>
            <div class="input-field col s12">
                <textarea id="specrest" value=" - " name="specrest" class="materialize-textarea" length="140"></textarea>
                <label for="description">Especificaciones Restricción:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select id="license" name="license" placeholder="Licencia Municipal" required multiple>
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                    <option value="A4">A4</option>
                    <option value="A5">A5</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
                <label>Licencia Municipal</label>
            </div>
            <!--
            1 : A1 2 : A2 4: A4 8: A5 16: B 32: C 64: D 128: E 256: F
            -->
            <div class="input-field col s6 tooltipped" data-tooltip="Licencia Angloamerican" data-position="top">
                <select id="anglolicense" name="anglolicense" placeholder="Licencia Acreditada" required multiple>
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                    <option value="A4">A4</option>
                    <option value="A5">A5</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
                <label>Licencia Acreditada</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label>Fecha de Vencimiento Licencia Municipal</label>
                <input id="licexpdate" name="licexpdate" type="date" class="datepicker" data-date-format="DD-MMM-YYYY" placeholder="01/01/1990" required>

            </div>
            <div class="input-field col s6 tooltipped" data-tooltip="Foto tipo carnet de buena resolución (Mínimo de 500 pixeles de alto)" data-position="top">
                <label>Foto</label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Seleccionar Foto</span>
                        <input id="photo" name="photo" type="file" asp-for="photo" accept=".jpg,.jpeg,.png" required />
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"
                               placeholder="Seleccionar Foto" />
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="empleado@empresa.com" value="" id="drivermail" name="drivermail" type="text" class="validate" required>
                <label for="email">Mail Conductor</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="+56987554321" value="" id="driverphone" name="driverphone" type="text" class="validate" required>
                <label for="driverphone">Fono Conductor</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="empleado@empresa.com" value="" id="companymail" name="companymail" type="text" class="validate" required>
                <label for="email">Mail Solicitante</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="+56229876543" value="" id="companyphone" name="companyphone" type="text" class="validate" required>
                <label for="companyphone">Fono Empresa</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label>Fecha de Acreditación Conducción:</label>
                <input id="wcdate" name="wcdate" type="date" class="datepicker tooltipped" data-date-format="DD-MMM-YYYY" placeholder="01/01/1990" data-tooltip="Este dato se obtiene desde Web Control" data-position="top" required>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="button" id="action" name="action">
            Enviar Solicitud
            <i class="material-icons right">send</i>
        </button>
    </form>

</div>

<!-- Modales Mensajes  -->
<!-- Modal Vacíos -->
<div id="modalVoids" class="modal">
    <div class="modal-content">
        <h4>Faltan campos por rellenar.</h4>
        <p>Todos los campos son requeridos en este formulario</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>
<div id="modalExists" class="modal">
    <div class="modal-content">
        <h4>Ya se ha solicitado una licencia.</h4>
        <p>Ya existe una solicitud para el rut ingresado.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>

<!-- Modal Falta Imagen -->
<div id="modalImage" class="modal">
    <div class="modal-content">
        <h4>Lo más importante.</h4>
        <p>No se ha seleccionado una foto para la licencia.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>

<!-- Modal Almacenado Correctamente -->
<div id="modalCorrect" class="modal">
    <div class="modal-content">
        <h4>Solicitud Ingresada.</h4>
        <p>Datos Almacenados Correctamente.</p>
    </div>
    <div class="modal-footer">
        <a href="/Home/About" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>

<!-- Modal Masivo -->
<div id="modalMasivo" class="modal">
    <div class="modal-content">
        <h4>El rut ingresado ya tiene Licencia.</h4>
        <p>Solicitar Renovación?.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Renovar</a><a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<!-- Modal Info TOS -->
<div id="modalTOS" class="modal">
    <div class="modal-content">
        <h4>Estoy De Acuerdo.</h4>
        <ul>
            <li>Yo <span id="sname" name="sname"></span>, soy el responsable de que los datos ingresados sean correctos.</li>
            <li>Apartir del momento en que la solicitud es ingresada, el proceso toma aproximadamente 48h hábiles.</li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" name="okbtn" id="okbtn">Acepto</a><a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<!-- Modal Loading -->

<div id="modalLoadingwc" class="modal">
    <div class="modal-content">
        <h5>Espere un momento mientras procesamos su información.</h5>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <span class="waitmore">Es posible que tome más tiempo de lo esperado debido a que se consultan ambas faenas.</span>
    </div>
</div>

<!-- Modal Errors -->
<div id="modalErrors" class="modal">
    <div class="modal-content">
        <h5>Status en WebControl</h5>

        <ul class="collection">
            <li class="collection-item avatar" name="twochore" id="twochore">
                <p>
                    <span>Los Bronces</span>
                    <span class="inforight">Las Tórtolas</span>
                </p>
            </li>
            <li class="collection-item avatar">
                <i name="forma1" id="forma1" class="material-icons circle red">folder</i>
                <span class="title">Formulario A1</span>
                <p>
                    <span id="infoa1" name="infoa1"></span>
                    <span id="infoa1lt" name="infoa1lt" class="inforight"></span>
                </p>
                <a href="#!" class="secondary-content">
                    <i name="forma1lt" id="forma1lt" class="material-icons circle red dotright">folder</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i name="altamo" id="altamo" class="material-icons circle green">filter_hdr</i>
                <span class="title">Alta Montaña</span>
                <p>
                    <span id="highmountm" name="highmountm"></span>
                    <span id="highmountmlt" name="highmountmlt" class="inforight"></span>
                </p>
                <a href="#!" class="secondary-content">
                    <i name="altamolt" id="altamolt" class="material-icons circle green dotright">filter_hdr</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i name="licen" id="licen" class="material-icons circle red">chrome_reader_mode</i>
                <span class="title">Licencia de Conducir</span>
                <p>
                    <span id="licensem" name="licensem"></span>
                    <span id="licensemlt" name="licensemlt" class="inforight"></span>
                </p>
                <a href="#!" class="secondary-content">
                    <i name="licenlt" id="licenlt" class="material-icons circle red dotright">chrome_reader_mode</i>
                </a>
            </li>
            <li class="collection-item avatar" name="routesx" id="routesx">
                <i name="rutasa" id="rutasa" class="material-icons circle green">commute</i>
                <span class="title">Curso G21 G245</span>
                <p>
                    <span id="routesm" name="routesm"></span>
                    <span id="routesmlt" name="routesmlt" class="inforight">No Aplica</span>
                </p>
                <a href="#!" class="secondary-content">
                    <i name="routelt" id="routelt" class="material-icons circle grey lighten-1 dotright">commute</i>
                </a>
            </li>
            <li class="collection-item avatar">
                <i name="psicos" id="psicos" class="material-icons circle red">swap_calls</i>
                <span class="title">Psicosensotécnico</span>
                <p>
                    <span id="psicom" name="psicom"></span>
                    <span id="psicomlt" name="psicomlt" class="inforight"></span>
                </p>
                <a href="#!" class="secondary-content">
                    <i name="psicoslt" id="psicoslt" class="material-icons circle red dotright">swap_calls</i>
                </a>
            </li>
        </ul>
    * Ignorar en caso de estar todo correcto.
    </div>

    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" name="okwc" id="okwc">Continuar</a>
    </div>
</div>



@section Scripts{
    <script src="~/js/functions.js"></script>
    <script>


        document.addEventListener('DOMContentLoaded', function() {

            var elemsVeh = document.querySelectorAll('#vehicles');
            var options = document.querySelectorAll('option');
      var instancesVeh = M.FormSelect.init(elemsVeh, options);
            var elemsRest = document.querySelectorAll('#restrictions');
      var instancesRest = M.FormSelect.init(elemsRest);
      var elemsLic = document.querySelectorAll('#license');
      var instancesLic = M.FormSelect.init(elemsLic);
      var elemsAlic = document.querySelectorAll('#anglolicense');
            var instancesAlic = M.FormSelect.init(elemsAlic);


        });




    $(document).ready(function () {
            $("#specrest").val(" - ");
            $('#company').sm_select({ data:@Html.Raw(ViewData["selectComp"])});
            $('#chore').sm_select();
            $('#access').sm_select();
            $('.tooltipped').tooltip();
            $('.modal').modal();
            $("#specrest").val(" - ");
        });

         $(document).ready(function () {
            $('#restrictions').change(function () {
                var job = $('#restrictions').val();
                if (job == "Otro") {
                    $("#restdesc").show();
                } else {
                    $("#restdesc").hide();
                     $("#specrest").val(" - ");
                }
            })
        });


    $("#action").on("click", function () {
             $("#sname").text($("#solname").val());
             var instance = M.Modal.getInstance($("#modalTOS"));
                    instance.open();
        });

    $("#okbtn").on("click", function () {
        test2();
        testing();
    });

    $("#searchrt").on("click", function () {
        var objt = document.getElementById("rut");
            if ($("#chore").val() == null) {
                M.toast({ html: 'Seleccione Una Faena' });
            } else {
                if (objt.checkValidity()) {
                    consultaRut();
                } else {
                    M.toast({ html: 'Ingrese un Rut Válido' });
                }
            }

        });


        function sendData() {
            var felement = document.querySelector("form");
            var form = new FormData(felement);


            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "/License/UploadData",
                "method": "POST",
                "processData": false,
                "contentType": false,
                "mimeType": "multipart/form-data",
                "data": form
            }

            $.ajax(settings).done(function (response) {
                $("#sname").text($("#solname").val());
                if (response == "NOIMG") {
                    var instance = M.Modal.getInstance($("#modalImage"));
                    instance.open();
                }
                if (response == "OK") {
                    var instance = M.Modal.getInstance($("#modalCorrect"));
                    instance.open();
                }
                if (response == "EXISTS") {
                    var instance = M.Modal.getInstance($("#modalExists"));
                    instance.open();
                }
                if (response == "MASIVO") {
                    var instance = M.Modal.getInstance($("#modalMasivo"));
                    instance.open();
                }
                console.log(response);
            }).fail(function (response) {
                var instance = M.Modal.getInstance($("#modalVoids"));
                    instance.open();
            });
        }


    function testing() {
        var instancehh = M.Modal.getInstance($("#modalLoadingwc"));
        instancehh.open();
        var rut = $("#rut").val();
        var chr = $("#chore").val();
        var settings = {
            "async": true,
            "crossDomain": true,
            "url":"../api/License/LicenseChecker",
            "method": "POST",
              "headers": {
    "Content-Type": "application/json",
    "User-Agent": "PostmanRuntime/7.15.2",
    "Accept": "*/*",
    "Cache-Control": "no-cache",
    "Postman-Token": "f760b6fd-72e3-4148-99b6-2b91a4bae9a7,f8952902-0ebe-40b5-9d84-54717a1c0e8e",
    "Host": "localhost:44382",
    "Accept-Encoding": "gzip, deflate",
    "Content-Length": "20",
    "Connection": "keep-alive",
    "cache-control": "no-cache"
  },
            "processData": false,
            "data": "{\"rut\":\""+rut+"\", \"chore\":\""+chr+"\"}"
        }

        $.ajax(settings).done(function (response) {
            instancehh.close();
            console.log(response);
            if (chr == "lb") {
                $('.waitmore').hide();
                $('#twochore').hide();
                $('.inforight').hide();
                $('.dotright').hide();
                if (response.Aon == "True") {
                $('#forma1').removeClass('red').addClass('green');
                    $('#infoa1').text("Activo");
                } else {
                $('#forma1').removeClass('green').addClass('red');
                    $('#infoa1').text("Inexistente");
                }
                if (response.Alt == "True") {
                    $('#altamo').removeClass('red').addClass('green');
                    $('#highmountm').text("Activo");
                } else {
                    $('#altamo').removeClass('green').addClass('red');
                    $('#highmountm').text("Inexistente");
                }
                if (response.Lic == "True") {
                    $('#licen').removeClass('red').addClass('green');
                    $('#licensem').text("Activo");
                } else {
                    $('#licen').removeClass('green').addClass('red');
                    $('#licensem').text("Vencida o Invalidada");
                }
                $('#rutasa').show();
                $('#routesm').show();
                $('#routesx').show();
                if (response.G21 == "True") {
                    $('#rutasa').removeClass('red').addClass('green');
                    $('#routesm').text("Activo");
                } else {
                    $('#rutasa').removeClass('green').addClass('red');
                    $('#routesm').text("Inexistente");
                }
                if (response.Psi == "True") {
                    $('#psicos').removeClass('red').addClass('green');
                    $('#psicom').text("Activo");
                } else {
                    $('#psicos').removeClass('green').addClass('red');
                    $('#psicom').text("Vencido o Invalidado");
                }
                if (response.Aon == "True" && response.Alt == "True" && response.Lic == "True" && response.G21 == "True" && response.Psi == "True") {
                    var instance = M.Modal.getInstance($("#modalErrors"));
                    instance.open();
                    sendData();
                } else {
                    var instance = M.Modal.getInstance($("#modalErrors"));
                    instance.open();
                }
            }
            if (chr == "lt") {
                $('.waitmore').hide();
                $('#twochore').hide();
                $('.inforight').hide();
                $('.dotright').hide();
                if (response.Aon == "True") {
                    $('#forma1').removeClass('red').addClass('green');
                    $('#infoa1').text("Activo");
                } else {
                    $('#forma1').removeClass('green').addClass('red');
                    $('#infoa1').text("Inexistente");
                }
                if (response.Alt == "True") {
                    $('#altamo').removeClass('red').addClass('green');
                    $('#highmountm').text("Activo");
                } else {
                    $('#altamo').removeClass('green').addClass('red');
                    $('#highmountm').text("Inexistente");
                }
                if (response.Lic == "True") {
                    $('#licen').removeClass('red').addClass('green');
                    $('#licensem').text("Activo");
                } else {
                    $('#licen').removeClass('green').addClass('red');
                    $('#licensem').text("Vencida o Invalidada");
                }
                    $('#rutasa').hide();
                    $('#routesm').hide();
                    $('#routesx').hide();

                if (response.Psi == "True") {
                    $('#psicos').removeClass('red').addClass('green');
                    $('#psicom').text("Activo");
                } else {
                    $('#psicos').removeClass('green').addClass('red');
                    $('#psicom').text("Vencido o Invalidado");
                }
                if (response.Aon == "True" && response.Alt == "True" && response.Lic == "True" && response.Psi == "True") {
                    var instance = M.Modal.getInstance($("#modalErrors"));
                    instance.open();
                    sendData();
                } else {
                    var instance = M.Modal.getInstance($("#modalErrors"));
                    instance.open();
                }
            }
            if (chr == "bt") {
                $('.waitmore').show();
                $('#twochore').show();
                $('.inforight').show();
                $('.dotright').show();
                if (response.Aon == "True") {
                    $('#forma1').removeClass('red').addClass('green');
                    $('#infoa1').text("Activo");
                } else {
                    $('#forma1').removeClass('green').addClass('red');
                    $('#infoa1').text("Inexistente");
                }
                if (response.Alt == "True") {
                    $('#altamo').removeClass('red').addClass('green');
                    $('#highmountm').text("Activo");
                } else {
                    $('#altamo').removeClass('green').addClass('red');
                    $('#highmountm').text("Inexistente");
                }
                if (response.Lic == "True") {
                    $('#licen').removeClass('red').addClass('green');
                    $('#licensem').text("Activo");
                } else {
                    $('#licen').removeClass('green').addClass('red');
                    $('#licensem').text("Vencida o Invalidada");
                }
                    $('#rutasa').hide();
                    $('#routesm').hide();
                    $('#routesx').hide();

                if (response.Psi == "True") {
                    $('#psicos').removeClass('red').addClass('green');
                    $('#psicom').text("Activo");
                } else {
                    $('#psicos').removeClass('green').addClass('red');
                    $('#psicom').text("Vencido o Invalidado");
                }
                                $('#twochore').show();
                if (response.Aonlt == "True") {
                    $('#forma1lt').removeClass('red').addClass('green');
                    $('#infoa1lt').text("Activo");
                } else {
                    $('#forma1lt').removeClass('green').addClass('red');
                    $('#infoa1lt').text("Inexistente");
                }
                if (response.Altlt == "True") {
                    $('#altamolt').removeClass('red').addClass('green');
                    $('#highmountmlt').text("Activo");
                } else {
                    $('#altamolt').removeClass('green').addClass('red');
                    $('#highmountmlt').text("Inexistente");
                }
                if (response.Liclt == "True") {
                    $('#licenlt').removeClass('red').addClass('green');
                    $('#licensemlt').text("Activo");
                } else {
                    $('#licenlt').removeClass('green').addClass('red');
                    $('#licensemlt').text("Vencida o Invalidada");
                }
                $('#rutasa').show();
                $('#routesm').show();
                $('#routesx').show();

                if (response.Psilt == "True") {
                    $('#psicoslt').removeClass('red').addClass('green');
                    $('#psicomlt').text("Activo");
                } else {
                    $('#psicoslt').removeClass('green').addClass('red');
                    $('#psicomlt').text("Vencido o Invalidado");
                }
                if (response.Aonlt == "True" && response.Altlt == "True" && response.Liclt == "True" && response.Psilt == "True" && response.Aon == "True" && response.Alt == "True" && response.Lic == "True" && response.G21 == "True" && response.Psi == "True") {
                    var instance = M.Modal.getInstance($("#modalErrors"));
                    instance.open();
                    sendData();
                } else {
                    var instance = M.Modal.getInstance($("#modalErrors"));
                    instance.open();
                }
            }
            
            
        });


        
    }


    function objectifyForm(formArray) {//serialize data function

  var returnArray = {};
  for (var i = 0; i < formArray.length; i++){
    returnArray[formArray[i]['name']] = formArray[i]['value'];
  }
  return returnArray;
            }

    (function($){
    $.fn.serializeObject = function(){

        var self = this,
            json = {},
            push_counters = {},
            patterns = {
                "validate": /^[a-zA-Z][a-zA-Z0-9_]*(?:\[(?:\d*|[a-zA-Z0-9_]+)\])*$/,
                "key":      /[a-zA-Z0-9_]+|(?=\[\])/g,
                "push":     /^$/,
                "fixed":    /^\d+$/,
                "named":    /^[a-zA-Z0-9_]+$/
            };


        this.build = function(base, key, value){
            base[key] = value;
            return base;
        };

        this.push_counter = function(key){
            if(push_counters[key] === undefined){
                push_counters[key] = 0;
            }
            return push_counters[key]++;
        };

        $.each($(this).serializeArray(), function(){

            // skip invalid keys
            if(!patterns.validate.test(this.name)){
                return;
            }

            var k,
                keys = this.name.match(patterns.key),
                merge = this.value,
                reverse_key = this.name;

            while((k = keys.pop()) !== undefined){

                // adjust reverse_key
                reverse_key = reverse_key.replace(new RegExp("\\[" + k + "\\]$"), '');

                // push
                if(k.match(patterns.push)){
                    merge = self.build([], self.push_counter(reverse_key), merge);
                }

                // fixed
                else if(k.match(patterns.fixed)){
                    merge = self.build([], k, merge);
                }

                // named
                else if(k.match(patterns.named)){
                    merge = self.build({}, k, merge);
                }
            }

            json = $.extend(true, json, merge);
        });

        return json;
    };
})(jQuery);


    function test2() {
        var formarr = $('#form').serializeObject();
        console.log(formarr);
        var settings = {
  "async": true,
  "crossDomain": true,
  "url": "../api/License/UploadBackup",
  "method": "POST",
  "headers": {
    "Content-Type": "application/json",
    "User-Agent": "PostmanRuntime/7.15.2",
    "Accept": "*/*",
    "Cache-Control": "no-cache",
    "Postman-Token": "69f49763-890b-4093-9f46-8f655d0accbb,5f6f1a24-00f8-4541-b342-ea68570234a7",
    "Host": "localhost:44382",
    "Accept-Encoding": "gzip, deflate",
    "Content-Length": "16",
    "Connection": "keep-alive",
    "cache-control": "no-cache"
  },
            "processData": false,
            "data": JSON.stringify(formarr)
}

$.ajax(settings).done(function (response) {
  console.log(response);
});
    }


    </script>

}