@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2 m6 offset-m3">
            <div class="card center-align">
                <div class="card-image">
                    <img class="activator" src="~/images/licenciasnew.jpg">
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#test4">Ingresar</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="test4">
                        <div class="row">
                            <form class="col s12" asp-controller="License" asp-action="Login" method="POST">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">domain</i>
                                    <input placeholder="ejemplo@dominio.com" id="Usr" name="Usr" type="text" class="validate">
                                    <label for="email">Empresa</label>
                                </div>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">vpn_key</i>
                                    <input placeholder="Contraseña" id="Pass" name="Pass" type="password" class="validate">
                                    <label for="password">Contraseña</label>
                                </div>
                                <div>
                                    <button type="button" name="action" id="action" class="waves-effect waves-light btn red"><i class="material-icons right">arrow_forward</i>Ingresar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Falla -->
<div id="modalFail" class="modal">
    <div class="modal-content">
        <h4>Error.</h4>
        <h6>Usuario y/o Contraseña Incorrectos.</h6>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>

<!-- Modal Error -->
<div id="modalError" class="modal">
    <div class="modal-content">
        <h4>Ha ocurrido un error.</h4>
        <h6>Favor Contactar a Explor-K (Error: 0x200173)</h6>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.tabs').tabs();
            $('.modal').modal();
        });

        $("#action").on("click", function () {
            sendData();
        });

        function sendData() {
            var felement = document.querySelector("form");
            var form = new FormData(felement);

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "/License/Login/",
                "method": "POST",
                "processData": false,
                "contentType": false,
                "data": form
            }

            $.ajax(settings).done(function (response) {
                if (response == "Fail") {
                    var instance = M.Modal.getInstance($("#modalFail"));
                    instance.open();
                } else {
                    window.location.replace("/Home/About");
                }
                console.log(response);
            }).fail(function (response) {
                var instance = M.Modal.getInstance($("#modalError"));
                instance.open();
            });
        }

    </script>

}